ascii-graph
autokeras
autopep8
bandit
docx-mailmerge
emoji
graphviz
gym
humanize
imgaug
isort
jedi
jupyter
lesspass
matplotlib
numpy
opencv-python
openpyxl
pandas
Pillow
pip-review
proselint
PuLP
PyAutoGUI
pybind11
pycodestyle
pyinstaller
pylint
pytest
requests
scikit-image
scikit-learn
scipy
seaborn
sgfmill
speedtest-cli
tensorboardX
tensorflow
tinydb
torch
torchsummary
torchvision
tqdm
virtualenv
xlrd
