ascii-graph
autokeras
autopep8
black
emoji
gym
humanize
isort
jedi
jupyter
lesspass
matplotlib
numpy
opencv-python
pandas
Pillow
pip-review
PuLP
PyAutoGUI
pybind11
pylint
pytest
requests
scikit-image
scikit-learn
scipy
seaborn
sgfmill
speedtest-cli
tensorboardX
tensorflow
tinydb
torch
torchvision
tqdm
virtualenv
